<html>
  <head>
    <title>Monopoly</title>
      <link href="bootstrap.min.css" rel="stylesheet">
      <link href="monopoly.css" rel="stylesheet">
      <script type="bootstrap.min.js"></script>
      <script type="query.min.js"></script>
  </head>
<body>

    <div class="container-fluid">
      <div class="row" >
         <div class="col-md-9">
         

         <%=erb :row_cards, locals: { cards: @top_cards } %>
         <%=erb :side_cards %>
         <%=erb :row_cards, locals: { cards: @bottom_cards } %>

                          
         

        </div>

        <div class="col-md 3">
          <form action="/roll" method="post">
          <input type="submit" value="Roll dice!">
          </form>
          

      </div>
    </div>

</body>
</html>